- hosts: localhost
  connection: local
  gather_facts: no
  vars_files: 
    - vars.yml
  tasks:
    - name: Deploy site files from Github repository
      git:
        repo: git@github.com:patilvinay/nbp-ms.git
        dest: "{{ ngx.chart }}"
        key_file: "{{ lookup('env','HOME') }}/.ssh-d2/vinay-wsl-git"
        accept_hostkey: yes
        force: yes
      become: vagrant
      when: "{{ ngx.chartclone }} == true"

- hosts: localhost
  connection: local
  gather_facts: no
  vars_files: 
    - vars.yml
  tasks:
   - debug:
      msg: "{{ ngx.configfile }}" 
   - debug:
      msg: "{{ ngx.app_name }}" 


- hosts: localhost
  connection: local
  gather_facts: no
  vars_files: 
    - vars.yml
  roles:
## This role created install the helm chart in the k8s
## it choose the k8s based on the config file of the k8s and the context selected
## name space where the chart has to be executed has to be provided
## app name to be proviced
    - role: ngx.helm
      vars:
      - helm_ns: "{{ ngx.ns }}"
      - chart_path: "{{ ngx.chart }}"
      - app_name: "{{ ngx.app_name }}"
      - helm_context: "{{ ngx.context }}"
      - domain: "{{ ngx.domain }}"
        environment:
          KUBECONFIG: "{{ lookup('env','HOME') }}/.kube/{{ ngx.configfile }}"
      become: vagrant
  


